version: '3.8'
services:

  # Metrics
  # ============================================================================
  # Node exporter
  nodeexporter:
    image: prom/node-exporter:latest
    user: root
    privileged: true
    labels:
      container_group: monitoring
    volumes:
      - /:/rootfs:ro
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - --collector.filesystem.ignored-mount-points
      - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"
    networks:
      - trk-ex-front-tier
      - trk-ex-back-tier
    ports:
      - '9100:9100'

  # cadvisor
  cadvisor:
    image: google/cadvisor:latest
    container_name: cadvisor
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker:/var/lib/docker:ro
    networks:
      - trk-ex-front-tier
      - trk-ex-back-tier
    ports:
      - 8181:8080

  # Prometheus
  prometheus:
    image: prom/prometheus:v2.17.2
    container_name: trickster-prometheus-mon
    restart: always
    volumes:
      - ./docker/prometheus-config:/etc/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
      - '--storage.tsdb.path=/prometheus'
      - "--storage.tsdb.retention=744h"
    depends_on:
      - cadvisor
    networks:
      - trk-ex-back-tier
    ports:
      - 9090:9090


  # Grafana
  grafana-mon:
    image: grafana/grafana:6.7.3
    container_name: trickster-grafana-mon
    restart: always
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_INSTALL_PLUGINS=grafana-piechart-panel
    volumes:
      - ./docker/grafana/grafana-config:/etc/grafana
      - ./docker/grafana/dashboards:/var/lib/grafana/dashboards
    networks:
      - trk-ex-front-tier
      - trk-ex-back-tier
    ports:
      - 3001:3000

networks:
  trk-ex-front-tier:
    external: true
  trk-ex-back-tier:
    external: true
